.card > a{text-decoration: none; color: black;}

.clickable
{
    cursor: pointer;
}

.card-title{font-size: 1.5em;}
.card-text{font-size: 1.2em;}
.card-body > h4 {font-size: 1em};

.div-card-img{
    font-size: 100px;
    width: 2em;
    height: 3em;
    overflow: hidden;
}

