div > h1{font-size: 60px; line-height: 60px; margin: 0;}
div > p{line-height: 60px; margin: 0;}


a:hover{
    text-decoration: underline;
}

.btn-categorie{
    background-color : #DBF9B8;
    border: none;
    border-radius: 20% 0 0 20%;
}

.testo{
    font-size: 14;
    color: white;
}