<!DOCTYPE html>
<html lang="en">
<head>

</head>

<body>
    
    <div class="bgc-gradient-green">
        <div class="container d-flex flex-row justify-content-center align-items-center txt-white">
            <h1 class="p-2">{{title}}</h1>
        </div>
    </div>

    <div class="bgc-dark-green mb-3">
        <div class="container">
            <div class="d-flex flex-row">
                <a [routerLink]="['']" class="p-2 txt-white">Home </a>
                <a [routerLink]="['/about']" class="p-2 txt-white">Chi siamo</a>
            </div>
        </div>
    </div>


</body>
</html>
