<!DOCTYPE html>
<html lang="en">

<head>

</head>

<body>

    <div class="bgc-gradient-green">
        <div class="container d-flex flex-row flex-wrap justify-content-between txt-white">
            <div class="d-flex flex-row flex-wrap">
                <h1 class="p-2">{{title}}</h1>
                <p class="p-2 align-self-center">{{slogan}}</p>
            </div>
            <div class="d-flex flex-row flex-wrap">
                <select type="button" class="m-2 btn btn-primary">
                    <option selected>Categorie</option>
                        <ng-container *ngFor="let c of prodottiService.getCategorie()">
                            <option >{{c}}</option>
                        </ng-container>
                </select>
                <app-ricerca class="p-2 align-self-center"></app-ricerca>
            </div>
        </div>
    </div>

    <div class="bgc-dark-green mb-3" style="height: 3em;">
        <div class="container h-100">
            <div class="d-flex flex-row justify-content-between h-100">
                <div class="align-self-center">
                    <a [routerLink]="['']" class="p-2 txt-white">Home </a>
                    <a [routerLink]="['/about']" class="p-2 txt-white">Chi siamo</a>
                </div>

                <div class="align-self-center">
                    <a [routerLink]="['/carrello']" class=" txt-white ">
                        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor"
                            class="bi bi-cart2" viewBox="0 0 16 16">
                            <path
                                d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>


</body>

</html>