<ng-container *ngIf="prodotto">

    <div class="d-flex flex-row justify-content-between m-2 border-bottom ">
        
        <div class="d-flex flex-row align-items-centers w-33">

            <div class="scale-02 m-3" >
                <img [src] = "prodotto.img" class="w-100 clickable" [routerLink]="['/prodotto',prodotto.id]">
            </div>

            <div class="d-flex flex-column align-items-start">
                <h1 class="titolo">{{prodotto.titolo}}</h1>
                <p class="autore">{{prodotto.autore}}</p>
            </div>
        </div>



        <div class="d-flex flex-row align-items-center w-33 p-3">

            <span class="clickable" (click)="prodottiService.rimuoviDalCarrello(prodotto, false)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
                    <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
                </svg>
            </span>

            <p class="quantity m-3 text-center">  {{prodottiService.getProdottoQuantity(prodotto)}}   </p>

            <span class="clickable" (click)="prodottiService.aggiungiAlCarrello(prodotto)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                </svg>
            </span>
            
        </div>



        <div class="d-flex flex-row justify-content-end w-33">

            <p class="text-center prezzo align-self-center mt-3">{{prodotto.prezzo}}€</p>

            <span class="clickable align-self-start delete-icon" (click)="prodottiService.rimuoviDalCarrello(prodotto, true)">
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                    </svg>
                </span>
        </div>

    </div>

</ng-container>

