.txt-black{ color :#343434;}
.txt-white{ color :#F5F5F5;}
.txt-green{ color :#87A878;}
.txt-dark-green { color : #54644D;}
.txt-light-green { color : #DBF9B8};

.bgc-black{ background-color :#343434;}
.bgc-white{ background-color :#F5F5F5;}
.bgc-green{ background-color :#87A878;}
.bgc-dark-green { background-color : #54644D;}
.bgc-light-green { background-color : #DBF9B8;}

.bgc-gradient-green
{
    background: rgb(135,168,120);
    background: linear-gradient(310deg, rgba(135,168,120,1) 65%, rgba(219,249,184,1) 100%);
}

.txt-no-deco {text-decoration: none;}