option {
    visibility: visible;
    background-color: #87A878;
    color: white;
}

.btn-categorie{
    background-color : #DBF9B8;
    border: none;
    border-radius: 10px 0 0 10px;
    color:#343434;
    
    transition: background-color 0.15s linear;
}

.btn-categorie:hover{
    color: white;
    background-color: #54644D;
}

.color-black{
    color: #343434;
}
